h1{
    color: darksalmon;
    background-color: antiquewhite;
}
    
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;

}
input{
    width: 50%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid;
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: beige;
}
button:hover{
    background-color: blue;
}